diff --git a/nextflow.config b/nextflow.config
index 1c2b4e4..8f449b1 100644
--- a/nextflow.config
+++ b/nextflow.config
@@ -191,6 +191,7 @@ profiles {
     test      { includeConfig 'conf/test.config'      }
     test_full { includeConfig 'conf/test_full.config' }
     juno      { includeConfig 'conf/juno.config' }
+    iris      { includeConfig 'conf/iris.config' }
 }
 
 // Load nf-core custom profiles from different Institutions
