//
// Just a stub file for now, placeholders
//

//
// Exactly the same has forte/conf/juno.config
//
executor {
    name = "lsf"
    queueSize = 5000000000
    perJobMemLimit = false
    perTaskReserve = true
}

//
// Reset the genomes to directories we can write into
params {
    // reference_base = "/juno/work/ccs/cmopipeline/forte/"
    // igenomes_base  = '/juno/work/tempo/cmopipeline/mskcc-igenomes/igenomes'
    // targets_base   = '/juno/work/ccs/cmopipeline/forte/'
    reference_base = "/rtsess01/compute/juno/bic/ROOT/rscr/forte"
    igenomes_base  = '/rtsess01/compute/juno/bic/ROOT/rscr/mskcc-igenomes/igenomes'
    targets_base   = '/rtsess01/compute/juno/bic/ROOT/rscr/forte'
}