//
// Just a stub file for now, placeholders
//

//
// Exactly the same has forte/conf/juno.config
//
executor {
    name = "lsf"
    queueSize = 5000000000
    perJobMemLimit = true
}

// process {
// }

// params {
//     // max_memory     = "128.GB"
//     // max_cpus       = 24
//     // max_time       = "500.h"
//     // mem_per_core   = true
//     // reference_base = "/rtsess01/compute/juno/bic/ROOT/rscr/forte"
//     // igenomes_base  = '/rtsess01/compute/juno/bic/ROOT/rscr/mskcc-igenomes/igenomes'
//     // targets_base   = '/rtsess01/compute/juno/bic/ROOT/rscr/forte'
// }

// singularity {
//     // enabled = true
//     // runOptions = "-B $TMPDIR"
//     // autoMounts = true
//     // cacheDir = "/rtsess01/compute/juno/bic/ROOT/opt/singularity/cachedir_socci/"
// }
